<h1 class="text-center mt-4">Create a new category</h1>

<div class="container">
<div class="row justify-content-center">
    <div class="col-12">
      <%= render 'form' %>
  </div>
  <div class="b-3">
  <div class="form-group row justify-content-center">
  <%= link_to '[ Cancel and return to categories listing ]' , categories_path, class:"text-info" %>
  </div>
</div>
</div>


